body{
    margin: 0;
    padding: 0;
    background: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.parrafo{
    z-index: 2;
    width: 540px;
    height: 440px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 50px;
}
.parrafo img{
    width: 500px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}